[dev-packages]
ipdb = "*"
pytest = "*"
pytest-xdist = "*"
pytest-django = "*"
faker = "*"
flake8 = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
psycopg2 = "*"
django = "*"
djangorestframework = "*"
celery = "*"
django-extensions = "*"
flake8 = "*"

[requires]
python_version = "3.9"
